*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(185, 20, 80, 1);
}
.schema *{
    border: 1px red solid;
}
/* inizio form*/

.red{
    border:2px solid rgba(185, 20, 80, 1) ;
    border-radius: 3px;
}



.form{
    margin: 40px;
    border:1px black solid ;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color:whitesmoke ;
}
.subForm{
    display: flex;
    justify-content:space-between;
    padding: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

button{
    margin-left: 300px;
}


/* fine form*/



/* inizion biglietto*/
.biglietto{
    width: 700px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 40px;
    background-color: whitesmoke;
}

.subBiglietto{
    display: flex;
    height:200px;
}

.subBiglietto div{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subBiglietto div:nth-child(1){
    background-color: lightgray;
}
/* fine biglietto*/